<div class="modal-dialog">
<div class="modal-content"> 
    <div class="modal-body">
        <button type="button" class="close" aria-hidden="true" onclick="hideModal()">×</button>
        <fieldset>
            <legend>
            <a class="fn" href="mailto:{{Convention.Student.User.Person.Email}}">
            {{fullname Convention.Student.User.Person}}
            </a>
            ({{Convention.Student.User.Person.Tel}})
            </legend>
    <div class="form-horizontal">	        
        <div class="form-group">
            <label class="col-lg-3 control-label">Major/Promotion</label>
                <div class="col-lg-9">
                    <p class="form-control-static">{{Convention.Student.Major}}/{{Convention.Student.Promotion}}</p>
                </div>
        </div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Company</label>
                <div class="col-lg-9">
                	<p class="form-control-static"><a href="{{Convention.Company.WWW}}">{{Convention.Company.Name}}</a></p>
                </div>
		</div>	
		<div class="form-group">
			<label class="col-lg-3 control-label">Title</label>
                <div class="col-lg-9">
                	<p class="form-control-static">{{Convention.Company.Title}}</p>
                </div>
		</div>				
		<div class="form-group">
			<label class="col-lg-3 control-label">Period</label>
                <div class="col-lg-9">
                	<p class="form-control-static">
                	{{dateFmt Convention.Begin "ddd DD MMM YY"}}
                	- 
                	{{dateFmt Convention.End "ddd DD MMM YY"}}
                	</p>
                </div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Gratification</label>
                <div class="col-lg-9">
                	<p class="form-control-static">{{Convention.Gratification}} €</p>
                </div>
		</div>				

        <div class="form-group" id="tutor-group">
            <label class="col-lg-3 control-label">Supervisor</label>
                <div class="col-lg-9">
                    <p class="form-control-static fn">
                    <a href="mailto:{{Convention.Supervisor.Email}}">{{fullname Convention.Supervisor}}</a>  ({{Convention.Supervisor.Tel}})
                    </p>
                </div>
        </div>  

		<div class="form-group" id="tutor-group">
			<label class="col-lg-3 control-label">Academic tutor</label>
                <div class="col-lg-9">
                	<p class="form-control-static fn">
                    <a href="mailto:{{Convention.Tutor.Person.Email}}">{{fullname Convention.Tutor.Person}}</a>  ({{Convention.Tutor.Person.Tel}})
                    </p>
                </div>
		</div>	
</div>
    </fieldset>
    <div class="text-center"><button type="button" class="btn btn-default" aria-hidden="true" onclick="hideModal()">Close</button></div>    
        </div>
        </div>
        </div>