<h3>Watchlist</h3>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-envelope"></i> mail selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="conventionMailing('tbody', 'stu')">students</a></li>
    <li><a onclick="conventionMailing('tbody', 'stu','tut')">students (cc tutors)</a></li>        
    <li><a onclick="conventionMailing('tbody', 'sup')">supervisors</a></li>
    <li><a onclick="conventionMailing('tbody', 'tut')">tutors</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-list"></i> fullnames from selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="showRawFullname('tbody', 'stu')">Students</a></li>    
    <li><a onclick="showRawFullname('tbody','sup')">Supervisors</a></li>
    <li><a onclick="showRawFullname('tbody','tut')">Tutors</a></li>    
  </ul>
</div>

<p>
As a major leader or an administrator, you can follow the progress of every student:
<ul>
<li>click a student name to get more details about the internship.
<li>click on a survey to get a read-only version once fullfiled,</li>
<li>click on a report cell to get details (content, comments).</li>
</ul>
</p>
<p>Use the checkboxes to select internships and the top buttons for mailing purposes.</p>
<br/>
<div class="legend">
<span class="title">Reports color legend: </span>
<ul class="legend">
<li><span class="color bg-warning"></span>Deadline passed, no report</li>
<li><span class="color bg-info"></span>Waiting for being reviewed</li>
<li><span class="color bg-success"></span>grade &gt; 10</li>
<li><span class="color bg-danger"></span>grade &lt; 10</li>
</ul>
</div>
<table class="table table-hover tablesorter" id="table-conventions">
    <thead>
    <tr>
        <th class="sorter-false" rowspan="2">
        <input type='checkbox' data-toggle='checkbox' class='globalSelect' data-context="table-conventions"/>
        </th>
        <th rowspan="2">Student</th>
        <th rowspan="2">Promotion</th>
        <th rowspan="2">Major</th>
        <th rowspan="2" >Tutor</th>
        <th class="sorter-false text-center" colspan="{{len Org.Reports}}">Reports</th>
        <th class="sorter-false text-center" colspan="{{len Org.Surveys}}">Surveys</th>
        <th rowspan="2" >Def</th>
        <th rowspan="2">Alumni</th>
    </tr>
    <tr>        
        {{#each Org.Reports}}        
        <th><small>{{@key}}</small></th>
        {{/each}}        
        {{#each Org.Surveys}}        
        <th><small>{{@key}}</small></th>
        {{/each}}        
    </tr>    
    </thead>
    <tbody>
        {{#each Internships}}    
        <tr>
            <td>
            <input class="shiftSelectable" type='checkbox'
 data-stu='{{Convention.Student.User.Person.Email}}' data-stu-fn='{{fullname Convention.Student.User.Person true}}'
 data-tut='{{Convention.Tutor.Person.Email}}' data-tut-fn='{{fullname Convention.Tutor.Person true}}'
 data-sup='{{Convention.Supervisor.Email}}' data-sup-fn='{{fullname Convention.Supervisor true}}'/>  
            </td>
            <td>
            <a class='click fn' onclick="showInternship('{{Convention.Student.User.Person.Email}}')">
            {{fullname Convention.Student.User.Person}}            
            </td>
            <td>{{Convention.Student.Promotion}}</td>
            <td>{{Convention.Student.Major}}</td>
            <td>                
                <a class="fn tutor" href='#' data-type="select" data-value="{{Convention.Tutor.Person.Email}}" data-email="{{Convention.Tutor.Person.Email}}" title='{{fullname Convention.Tutor.Person}}'>{{fullname Convention.Tutor.Person}}</a>
            </td>            
            {{#each Reports}}
            {{report this ../Convention.Student.User.Person.Email}}
            {{/each}}            
            
            {{#each Surveys}}
            {{survey this ../Convention.Student.User.Person.Email}}
            {{/each}}

            {{#if Defense.Defenses}}            
            <td class="text-center {{defenseStatus Defense}}"><a href="#" data-value="{{defenseGrade Defense}}" data-type="text" data-email="{{Student.Email}}" class="grade">{{defenseGrade Defense}}</a></td>
            {{else}}
            <td class="text-center"><i>n/a</i></td>
            {{/if}}
                        
            {{#if Convention.Student.Alumni}}
            <td class="text-center" data-text="1"><i class="glyphicon glyphicon-star-empty"></i></td>
            {{else}}
            <td class="text-center" data-text="0"></td>           
            {{/if}}            
        </tr>
    {{/each}}
    </tbody>
</table>