<ul class="pager">
    <li class="previous disabled" id="prev-day"><a href="#" onclick="prevDay()">&larr; Previous</a></li>
    <li><h2 id="defense-day" style="display: inline">Today</h2></li>
    <li class="next" id="next-day"><a href="#" onclick="nextDay()">Next &rarr;</a></li>
</ul>

{{#each this}}
        <div id="day-{{@index}}" style="display:none;">
    {{#each period}}
        <h3>
            {{#if @index}}
                Afternoon
            {{else}}
                Morning
            {{/if}}
        </h3>
        <div class="row">
        {{#each jury}}
            <div class="col-md-4">
                <h3>Session {{inc @index}} ({{majors students}})</h3>

                <p>
                    <b>Room</b>: {{room}}<br/>
                    <b>Jury</b>: {{commission commission}}
                </p>
                <p>
                    {{#each students}}
                        <b>{{offset @index ../time}}</b>:
                        {{#if P}}
                            {{P.Firstname}} {{P.Lastname}} ({{Major}})
                            {{#if private}}
                                &nbsp;<span class="glyphicon glyphicon-eye-close" title="confidential"></span>
                            {{/if}}
                            {{#if visio}}
                                &nbsp;<span class="glyphicon glyphicon-facetime-video" title="visio-conference"></span>
                            {{/if}}
                        {{else}}
                            Break
                        {{/if}}

                        <br/>
                    {{/each}}
                </p>
            </div>
        {{/each}}
        </div>
    {{/each}}
    </div>
{{/each}}