{{#each this}}
        <div id="day-{{@index}}" style="display:none;">
    {{#each period}}
        <h3>
            {{#if @index}}
                Après-midi
            {{else}}
                Matin
            {{/if}}
        </h3>
        <div class="row">
        {{#each jury}}
            <div class="col-md-4">
                <h3>Session {{inc @index}} ({{majors students}})</h3>

                <p>
                    <b>Salle</b>: {{room}}<br/>
                    <b>Jury</b>: {{commission commission}}
                </p>
                <p>
                    {{#each students}}
                        <b>{{offset @index ../time}}</b>:
                        {{#if P}}
                            {{P.Firstname}} {{P.Lastname}} ({{Major}})
                            {{#if private}}
                                &nbsp;<span class="glyphicon glyphicon-eye-close" title="soutenance confidentielle"></span>
                            {{/if}}
                            {{#if visio}}
                                &nbsp;<span class="glyphicon glyphicon-facetime-video" title="soutenance en visio-conference"></span>
                            {{/if}}
                        {{else}}
                            Break
                        {{/if}}

                        <br/>
                    {{/each}}
                </p>
            </div>
        {{/each}}
        </div>
    {{/each}}
    </div>
{{/each}}