{{#if this.sessions}}
    <div class="text-center">
        <div class="pagination">
            <ul class="defenses-pages">
                <li class="previous">
                    <a href="#" class="fui-arrow-left"></a>
                </li>

                {{#each sessions}}
                    <li><a onclick="show_session({{@index}})">{{inc @index}}</a></li>
                {{/each}}
                <li class="next">
                    <a href="#" class="fui-arrow-right"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
            <h5>Student pool</h5>
            <ol class="students all-students" data-jury="-1" id="student-pool">
                {{#each pool}}
                    <li data-email="{{this}}">{{slotEntry this}}</li>
                {{/each}}
            </ol>
            <btn class="btn btn-success btn-block" onclick="displayPlanning()">Planning</btn>
            <btn class="btn btn-success btn-block" onclick="displayProgram()">Program</btn>
        </div>
        <div class="col-sm-9">
            {{#each sessions}}
                <div class="defense-session" id="defense-session-{{@index}}">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Date</label>

                            <div class="col-sm-3">
                                <input type="text" data-session="{{@index}}" onchange="saveSessionDate(this)"
                                       data-date-format="DD/MM/YYYY hh:mm" class="form-control input-sm dtpicker"
                                       value="{{slot date}}"/>
                            </div>
                        </div>
                    </div>
                    {{#each jury}}
                        <div class="slot clearfix">
                            <div class="page-header">
                                <h6>Jury {{inc @index}}</h6>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Room</label>

                                            <div class="col-sm-3">
                                                <input data-jury="{{id}}" onchange="saveRoom(this)" type="text"
                                                       data-slot="{{@index}}" class="form-control input-sm"
                                                       value="{{room}}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Commission</label>

                                            <div class="col-sm-3">
                                                {{#each commission}}
                                                    <select data-jury-idx="{{@index}}" data-jury="{{../id}}"
                                                            onchange="saveJury(this)">
                                                        {{committeeOptions this ../../../tutors}}
                                                    </select>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label>Agenda</label>
                                    <ol class="students" data-jury="{{id}}">
                                        {{#each students}}
                                            <li data-email="{{this}}">{{slotEntry this}}</li>
                                        {{/each}}
                                    </ol>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
{{else}}
    <h5 class="text-center">You must generate a template first</h5>
{{/if}}