{{#each this}}
    <div id="day-{{@index}}" style="display:none;">
        {{#each period}}
            <h2 class="screen">
                {{#if @index}}
                    Après-midi
                {{else}}
                    Matin
                {{/if}}
            </h2>
            {{#each jury}}
                    <div class="break-after">
                        <h1 class="print">Soutenance de stages</h1>
                        <h3><span class="print">{{longDate ../date}} - </span> Jury: {{commission commission}}</h3>
                        <h3>Salle: {{room}}</h3>
                            <ul class="list-unstyled">
                            {{#each students}}
                                <li>
                                <b>
                                    {{offset @index ../time}}
                                    {{#if P}}
                                        {{P.Firstname}} {{P.Lastname}}
                                            <small>
                                                {{Promotion}} [{{Major}}].
                                            </small>
                                    {{else}}
                                        Pause
                                    {{/if}}
                                </b>
                                {{#if Company}}
                                    {{Company}}.
                                    <i>{{Subject}}</i>
                                {{/if}}
                                </li>
                            {{/each}}
                            </ul>
                    </div>
                {{/each}}
        {{/each}}
    </div>
{{/each}}