{{#if this.sessions}}
    <div class="row">
        {{#each sessions}}
            <div class="col-sm-2">
                <h6 class="text-center">S {{inc @index}}</h6>
                {{#each jury}}
                    <ol class="students" data-jury="{{id}}">
                        {{#each students}}
                            <li class="coarse-entry" data-email="{{this.P.Email}}">{{slotEntry this}}</li>
                        {{/each}}
                    </ol>
                {{/each}}
            </div>
        {{/each}}

        <div class="col-sm-2">
        <h6>Outsiders</h6>
        <ol class="students" data-jury="-1">
            {{#each pool}}
                <li data-email="{{this.P.Email}}">{{slotEntry this}}</li>
            {{/each}}
        </ol>
        </div>
    </div>
{{else}}
    <h5 class="text-center">You must generate a template first</h5>
{{/if}}