{{#if sessions}}
    <div class="text-center">
        <div class="pagination">
            <ul>
                <li class="previous">
                    <a href="#" class="fui-arrow-left"></a>
                </li>

                {{#each sessions}}
                    <li class="session-header"><a onclick="show_session({{@index}})">{{inc @index}}</a></li>
                {{/each}}
                <li class="next">
                    <a href="#" class="fui-arrow-right""></a>
                </li>
            </ul>
        </div>
    </div>

    {{#each sessions}}
    <div class="session-content" style="display: none">
        <div class="form-horizontal text-center">
            <div class="form-group">
                <label class="col-sm-1 control-label">Date</label>
                <div class="col-sm-3">
                    <input type="text" data-session="{{@index}}" class="form-control input-sm" value="{{slot date}}"/>
                </div>
                <a class="btn-sm btn-primary mail-selection"><span class="fui-mail"></span> mail selection</a>
            </div>
        </div>
        <div class="row">
            {{#each jury}}
                <div class="col-sm-3 listing-students" style="border-right: solid 1px black">
                    <h4>Jury {{inc @index}} ({{majors students}})</h4>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Room</label>

                            <div class="col-sm-3">
                                <input data-jury="{{id}}" onchange="saveRoom(this)" type="text"
                                       data-slot="{{@index}}" class="form-control input-sm"
                                       value="{{room}}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Time</label>

                            <div class="col-sm-5">
                                <input data-jury="{{id}}" onchange="saveTime(this)" type="text"
                                       data-slot="{{@index}}" class="form-control input-sm"
                                       value="{{date}}"/>
                            </div>
                        </div>
                    </div>

                    <h6>Commission</h6>
                        {{#each commission}}
                            <select data-for="chk-{{../id}}-{{@index}}" data-jury-idx="{{@index}}" data-jury="{{../id}}"
                                    onchange="saveJury(this)">
                                {{committeeOptions this ../../../tutors}}
                            </select>
                            <label id="chk-{{../id}}-{{@index}}" class='checkbox' data-email="select-{{@index}}">
                                <input type='checkbox' data-toggle='checkbox'/>
                            </label>
                        {{/each}}

                    <h6>Students</h6>
                        {{#each students}}
                                <label class='checkbox mail-checkbox-students' data-email="{{this.P.Email}}">
                                    <input type='checkbox' data-toggle='checkbox' value='{{this.P.Email}}'/>
                                </label>
                                <a class='clickable' onclick="showDetails('{{this.P.Email}}')">{{student this}}</a>
                            <br/>
                        {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
{{else}}
    <h5 class="text-center">You must generate a template first</h5>
{{/if}}