{{#if this}}
    <h3>{{len this}} tutored students</h3>

    <a class="btn-sm btn-primary mail-selection"><span class="fui-mail"></span> mail selection</a>
    <table class="table table-condensed table-hover tablesorter" id="table-myStudents">
        <thead>
        <tr>
            <th rowspan="2"><label class='checkbox mailto'><input type='checkbox' data-toggle='checkbox'/></label></th>
            <th rowspan="2">Student</th>
            <th rowspan="2">Promotion</th>
            <th rowspan="2">Major</th>
            <th rowspan="2">Company</th>
            <th rowspan="2">Supervisor</th>
            <th colspan="3">Midterm evaluation</th>
        </tr>
        <tr>
            <th><small>due date</small></th>
            <th><small>grade</small></th>
            <th><small>resources</small></th>
        </tr>
        </thead>
        <tbody>
            {{#each this}}
                <tr>
                    <td>
                        <label class='checkbox mail-checkbox' data-email="{{Stu.P.Email}}">
                            <input type='checkbox' data-toggle='checkbox' value='{{Stu.P.Email}}'/>
                        </label>
                    </td>
                    <td><a class='clickable' onclick="showDetails('{{Stu.P.Email}}')">{{shortFullname Stu.P}}</a></td>
                    <td>{{Stu.Promotion}}</td>
                    <td>{{Stu.Major}}</td>
                    <td>{{shortCompany this}}</td>
                    <td>{{shortFullname Sup}}</td>
                    <td>{{deadline MidtermReport}}</td>
                    <td>?</td>
                    <td><span class='fui-new'></span> <span class='fui-chat'></span></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
        <h5 class="text-center">No tutored students</h5>
    {{/if}}