<h3>Permissions
    <small>
        <button href="#new-user" data-toggle='modal' class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> add user
        </button>
    </small>
</h3>
<div class="row">
{{#each this}}
<div class='col-md-6'>
    <div class='form-group'>
        <label for='lbl-{{Email}}' class='col-md-7 control-label'>
            <a class="btn btn-xs btn-danger fui-cross" href="#" onclick="rmUser(this,'{{Email}}')"></a>
            <a href="mailto:{{Email}}">{{fullname this}}</a>
        </label>
        <span class='col-md-3'>
            <select onchange="updatePrivilege(this, '{{Email}}')">
                {{roleOptions Role}}
            </select>
        </span>
    </div>
</div>
{{/each}}
</div>