<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body form-horizontal">
            <h3>
                <a href="mailto:{{Stu.P.Email}}">{{fullname Stu.P}}</a>
            </h3>
            <dl class="dl-horizontal">
                <dt>Promotion</dt>
                <dd>{{Stu.Promotion}}</dd>
                <dt>Major</dt>
                <dd>
                    <select onchange="updateMajor(this,'{{Stu.P.Email}}')">
                        {{majorOptions Major}}
                    </select>
                </dd>

                <dt class="glyphicon glyphicon-earphone"></dt>
                <dd>{{Stu.P.Tel}}</dd>
            </dl>

            <h5>Company: <small>{{company this}}</small></h5>
            <dl class="dl-horizontal">
                <dt>Period</dt>
                <dd>{{date Begin}} to {{date End}}</dd>

                <dt>Midterm report</dt>
                <dd>
                    <input type="text" data-provide="datepicker" class="form-control date input-sm" value="{{date MidtermReport}}">
                    <!--
                <div class="input-group date">
                    <input type="text" class="form-control" value="{{date MidtermReport}}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>  -->
                </dd>
            </dl>

            <h5>Supervisor: <small>
                <a href="mailto:{{Sup.Email}}">{{fullname Sup}}</a>
            </small></h5>
            <dl class="dl-horizontal">
                <dt class="glyphicon glyphicon-earphone"></dt>
                <dd>{{Sup.Tel}}</dd>
            </dl>

            <h5>Tutor: <small>
                <a href="mailto:{{Tutor.Email}}">{{fullname Tutor}}</a>
            </small></h5>
            <dl class="dl-horizontal">
                <dt class="glyphicon glyphicon-earphone"></dt>
                <dd>{{Tutor.Tel}}</dd>
            </dl>
        </div>
    </div>
</div>