<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body form-horizontal">
            <h3 id="infos-student-name">
                <a href="mailto:{{Stu.P.Email}}">{{fullname Stu.P}}</a>
            </h3>
            <dl class="dl-horizontal">
                <dt>Promotion</dt>
                <dd id="infos-student-promotion">{{Stu.Promotion}}</dd>
                <dt>Major</dt>
                <dd>
                    <select id="infos-student-major" onchange="updateMajor('{{Stu.P.Email}}')">
                        {{majorOptions Major}}
                    </select>
                </dd>

                <dt class="glyphicon glyphicon-earphone"></dt>
                <dd id="infos-student-tel">{{Stu.P.Tel}}</dd>
            </dl>

            <h5>Company: <small id="infos-company-name">{{company this}}</small></h5>
            <dl class="dl-horizontal">
                <dt>Period</dt>
                <dd id="infos-company-period">{{date Begin}} to {{date End}}</dd>

                <dt>Midterm report</dt>
                <dd id="infos-company-midterm">{{deadline MidtermReport}}</dd>
            </dl>

            <h5>Supervisor: <small id="infos-sup-name">
                <a href="mailto:{{Sup.Email}}">{{fullname Sup}}</a>
            </small></h5>
            <dl class="dl-horizontal">
                <dt class="glyphicon glyphicon-earphone"></dt>
                <dd id="infos-sup-tel">{{Sup.Tel}}</dd>
            </dl>

            <h5>Tutor: <small id="infos-tutor-name">
                <a href="mailto:{{Tutor.Email}}">{{fullname Tutor}}</a>
            </small></h5>
            <dl class="dl-horizontal">
                <dt class="glyphicon glyphicon-earphone"></dt>
                <dd id="infos-tutor-tel">{{Tutor.Tel}}</dd>
            </dl>
        </div>
    </div>
</div>