{{#if this}}
<h3>{{len this}}</span> Tutors</h3>
<a class="btn-sm btn-primary mail-selection"><span class="fui-mail"></span> mail selection</a>
<a class="btn-sm btn-success" href="#" onclick="rawTutors()"><span class="fui-list"></span> copy to clipboard</a>
<table class="table table-condensed table-hover tablesorter" id="table-assignments">
    <thead>
    <tr>
        <th><label class='checkbox mailto'><input type='checkbox' data-toggle='checkbox'/></label></th>
        <th>Tutor</th>
        <th>Count</th>
        <th>Students</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
        <tr>
            <td>
                <label class='checkbox mail-checkbox' data-email="{{tutor.Email}}">
                    <input type='checkbox' data-toggle='checkbox' value='{{tutor.Email}}'/>
                </label>
            </td>
            <td>
                <a href="mailto:{{tutor.Email}}">
                    {{fullname tutor}}
                </a>
            </td>
            <td>{{len students}}</td>
            <td>
                {{#each students}}
                    <a class='clickable' onclick="showDetails('{{P.Email}}')">{{shortFullname P}}</a>,
                {{/each}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
    <h5 class="text-center">No tutors</h5>
{{/if}}