<div class="row">
<div class="col-md-6">	
	<h3 class="page-header">The company <small onclick=""><a><i class="glyphicon glyphicon-pencil" onclick="showCompanyEditor()"></i></a></small></h3>		
	<p>
	Ensure the subject is up-to-date.
	Company name and website are usefull to assist futur students at finding internships.
	</p>
	<dl class="dl-horizontal">
		<dt>Period</dt>
		<dd>From {{date Begin}} to {{date End}}</dd>
		<dt>Name</dt>
		<dd>{{company Cpy}}
		<dt>Subject</dt>
		<dd>{{Title}}</dd>
	</dl>			
</div>

<div class="col-md-6">	
	<h3 class="page-header">Contacts</h3>	
	<h4>Supervisor <a><i class="glyphicon glyphicon-pencil" onclick="showSupervisorEditor()"></i></a></h4>	
	<p>It is of a primary importance to provide accurate contact details to allow your tutor to communicate
	with your supervisor.
	</p>
	<dl class="dl-horizontal">
		<dt>Fullname</dt>
		<dd><a href="mailto:{{Sup.Email}}" class="fn">{{Sup.Firstname}} {{Sup.Lastname}}</a></dd>
		<dt>Tel</dt>
		<dd>{{Sup.Tel}}</dd>
	</dl>	

	<h4>Academic tutor</h4>	
	<dl class="dl-horizontal">
		<dt>Fullname</dt>
		<dd><a class="fn" href="mailto:{{Tutor.Email}}">{{Tutor.Firstname}} {{Tutor.Lastname}}</a></dd>
		<dt>Tel</dt>
		<dd>{{Tutor.Tel}}</dd>
	</dl>	
</div>
</div>

<div class="row">
<div class="col-md-6">	
<h3 class="page-header">Reports</h3>
<p>
Documents must be PDF files, with a maximum size of 10 MB.
You can re-upload documents until the deadline.
Click on the question mark to get the expectations for each report.
</p>
<table class="table table-hover table-condensed">
<thead>
<tr>
	<td></td><td>Deadline</td><td>Grade</td><td></td>
</tr>
</thead>
<tbody>
{{#each Reports}}
<tr>
<td><i class="glyphicon glyphicon-question-sign"></i> {{Kind}}</td>
<td>{{date Deadline}}</td>
<td>{{studentGrade this}}</td>
<td class="text-right">
<form method="post" enctype="multipart/form-data" action="/api/v1/internships/{{../Student.Email}}/reports/{{Kind}}/content">
		{{#unless Passed}}		
			<input type="file" data-kind="{{Kind}}" accept="application/pdf"  title="upload"/>						
		{{/unless}}
		<a href="api/v1/internships/{{../Student.Email}}/reports/{{Kind}}/content" class="btn btn-primary btn-sm" title="download"><i class="glyphicon glyphicon-cloud-download"></i></a>	
		<button onclick="showReportComment('{{Kind}}')" type="button" class="btn-sm btn btn-info" title="tutor review"
		{{#unless Comment}}
			disabled="disabled"
		{{/unless}}
		><i class="glyphicon glyphicon-comment"></i> tutor review</button>
		</form>
</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
<div class="col-md-6">
<h3 class="page-header">Your future</h3>
<p>
It is important for us to know what you will become after your internship.
Please indicate what will be your profesional status after the internship
and an email address to contact you as an alumni.
</p>
<div class="form-group">
<label class="col-md-4">Future position</label>
<select class='select-position'>
{{positionSelector Future.Position}}
</select>
</div>
<div class="form-group">
<label class="col-md-4">Contact email</label>
<input type="email" id='next-email' value='{{Future.Contact}}'/>
<button type="button" class="btn btn-success btn-sm" onclick='sendAlumni()'>Update</button>
</div>
</div>
</div>
