<h3>{{len this}} Session(s)
<button type="button" class="btn btn-sm" onclick="serviceMailing()">
<i class="glyphicon glyphicon-envelope"></i> mail selection
</button>
</h3>

{{#each this}}
<table class="table table-hover table-condensed">
    <thead>
    <tr>
        <td colspan="3">
            <i class="glyphicon  glyphicon-calendar"></i> {{dateFmt Date "D MMM YYYY HH:mm"}};
            <i class="glyphicon glyphicon-map-marker"></i> {{Room}}
        </td>
        <td colspan="4" class="text-right">
            <strong>Juries: </strong>     {{#each Juries}}
    <input type='checkbox' class='icheckbox_flat' data-email='{{Email}}'/> <span class="fn">{{fullname this}}</span>{{#unless @last}}, {{/unless}}
    {{/each}}
        </td>
    </tr>
    <tr>
        <th></th>
        <th>Time</th>
        <th>Student</th>        
        <th>Promotion</th>                
        <th>Grade</th>
        <th>Next position</th>
    </tr>
    </thead>
    <tbody> 
        {{#each Defenses}}   
        <tr>
            <td>
            <input type='checkbox' class='icheckbox_flat' data-email='{{Student.Email}}'/>  
            </td>
            <td>{{offset ../Date Offset}}</td>
            <td>
            <a class='click fn' onclick="showDefense('{{Student.Email}}')">{{shortFullname Student}}</a>
            {{#if Private}}<i class="glyphicon glyphicon-eye-close text-danger" title="confidential defense"></i>{{/if}}
            {{#if Remote}}<i class="glyphicon glyphicon-facetime-video" title="visio conference"></i>{{/if}}
            </td>            
            <td>{{Promotion}}/{{Major}}</td>                            
            <td class="click" onclick="showDefense('{{Student.Email}}')">{{defenseGrade2 ../Date Rank Grade}}</td>
            <td class="click" onclick="showDefense('{{Student.Email}}')">
            {{nextPosition Future.Position}}
            </td>            
        </tr>    
        {{/each}}
    </tbody>
</table>
{{#unless @last}}<div class="page-header"></div>{{/unless}}
{{/each}}