<div class="btn-group">
  <button type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-envelope"></i> mail selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="mailing('students')">students</a></li>
    <li><a onclick="mailing('students','supervisors')">students (cc supervisors)</a></li>        
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-list"></i> fullnames from selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="showRawFullname('students')">Students</a></li>    
    <li><a onclick="showRawFullname('supervisors')">Supervisors</a></li>    
  </ul>
</div>

{{#each this}}
<h5>{{dateFmt Date "D MMM YYYY HH:mm"}}; Room {{Room}}</h5>
<h5>Jury: {{#if Juries}}
    {{#each Juries}}
    <span class="fn">{{fullname this}}</span>{{#unless @last}}, {{/unless}}
    {{/each}}
{{else}}
    <span class="fn">TBA.</span>
{{/if}} 
</h5>
<table class="table table-hover tablesorter" id="table-conventions">
            <thead>
    <tr>
        <th class="sorter-false"></th>
        <th>Time</th>
        <th>Student</th>
        <th>Promotion</th>        
        <th>Company</th>          
        <th>Surveys</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody> 
        {{#each Defenses}}   
        <tr>
            <td>
            <input type='checkbox' class='icheckbox_flat' data-email='{{Email}}'/>  
            </td>
            <td>{{offset ../Date Offset}}</td>
            <td>
            <a class='click fn' onclick="showDefense('{{Student}}')">{{shortFullname Student}}</a>
            </td>
            <td>{{Promotion}}/{{Major}}</td>            
            <td>{{company Cpy}}</td>            
            <td>{{#each Surveys}}
            <a onclick="window.open('/surveys/{{Kind}}?student={{../Student.Email}}&kind={{Kind}}','_blank')" class="badge {{surveyStatus this}}">{{Kind}}</a>
            {{/each}}
            </td>
            <td>{{defenseGrade ../this }}</td>            
        </tr>    
        {{/each}}
    </tbody>
</table>
{{/each}}