<div class="btn-group">
  <button type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-envelope"></i> mail selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="mailing('students')">students</a></li>
    <li><a onclick="mailing('students','supervisors')">students (cc supervisors)</a></li>        
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-list"></i> fullnames from selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="showRawFullname('students')">Students</a></li>    
    <li><a onclick="showRawFullname('supervisors')">Supervisors</a></li>    
  </ul>
</div>

{{#each this}}
<h5>{{dateFmt Date "D MMM YYYY HH:mm"}}; Room {{Room}}</h5>
<h5>Jury: {{#each Juries}}{{/each}}</h5>
<table class="table table-hover tablesorter" id="table-conventions">
            <thead>
    <tr>
        <th class="sorter-false" rowspan="2">
        <input type='checkbox' data-toggle='checkbox' class='icheckbox_flat check_all'/>
        </th>
        <th rowspan="2">Student</th>
        <th rowspan="2">Promotion</th>
        <th rowspan="2">Major</th>        
        <th rowspan="2" class="sorter-false">Company</th>        
        <th rowspan="2" class="sorter-false text-center">Surveys</th>        
    </tr>
    </thead>
    <tbody> 
        {{#each Defenses}}   
        <tr>
            <td>
            <input type='checkbox' class='icheckbox_flat' data-email='{{Email}}'/>  
            </td>
            <td>
            <a class='click fn' onclick="showInternship('{{Student}}')">{{shortFullname Student}}</a>
            </td>
            <td></td>
            <td></td>
            <td></td>            
            <td></td>            
        </tr>    
        {{/each}}
    </tbody>
</table>
{{/each}}