<div id="alignment-box">
    <div class="text-center">
        <h3>{{c.Student.Firstname}} {{c.Student.Lastname}}</h3>
        {{date c.Begin}} to {{date c.End}}: <a href="{{c.Cpy.WWW}}">{{c.Cpy.Name}}</a>
    </div>

    <div class="row">
        <div class="col-sm-5 col-lg-offset-1">
            <h6>Tutor in the convention</h6>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="th-tutor-fn">Firstname</label>
                    <div class="col-sm-6">
                        <input type="text" class="input-sm form-control" id="th-tutor-fn" value="{{c.Tutor.Firstname}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="th-tutor-ln">Lastname</label>

                    <div class="col-sm-6">
                        <input type="text" class="input-sm form-control" id="th-tutor-ln" value="{{c.Tutor.Lastname}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="th-tutor-email">Email</label>

                    <div class="col-sm-6">
                        <input type="email" class="input-sm form-control" id="th-tutor-email" value="{{c.Tutor.Email}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="th-tutor-tel">Tel</label>

                    <div class="col-sm-6">
                        <input type="text" class="input-sm form-control" id="th-tutor-tel" value="{{c.Tutor.Tel}}">
                    </div>
                </div>
            </form>
            <div class="text-center">
                <button id="pick-theory" class="btn-wide btn btn-lg text-center" onclick="pickTheory()">Choose</button>
            </div>

        </div>
        <div class="col-sm-2 text-center">
            <h1>OR</h1>
        </div>
        <div class="col-sm-4 text-center">
            <h6>Registered tutor(s)</h6>
            <div class="form-group">
            <label for="known-tutor-selector"></label>
            <select id="known-tutor-selector">
                {{userSelecter users}}            
            </select>
            </div>
            <div class="">
                <button id="btn-choose-known" class="btn-wide btn btn-lg text-center" onclick="pickKnown()">
                    Choose
                </button>
            </div>
        </div>
    </div>
</div>