<div id="alignment-box">
    {{#if c}}
    <div class="text-center">
        <h3>{{c.Student.Firstname}} {{c.Student.Lastname}}</h3>
        {{date c.Begin}} to {{date c.End}}: <a href="{{c.Cpy.WWW}}">{{c.Cpy.Name}}</a>
    </div>
    
    <div class="row">
        <div class="col-sm-5 col-lg-offset-0">
            <h5>Tutor in the convention</h5>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="th-tutor-fn">Firstname</label>
                    <div class="col-sm-6">
                        <input type="text" class="input-sm form-control" id="th-tutor-fn" value="{{c.Tutor.Firstname}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="th-tutor-ln">Lastname</label>

                    <div class="col-sm-6">
                        <input type="text" class="input-sm form-control" id="th-tutor-ln" value="{{c.Tutor.Lastname}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="th-tutor-email">Email</label>

                    <div class="col-sm-6">
                        <input type="email" class="input-sm form-control" id="th-tutor-email" value="{{c.Tutor.Email}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="th-tutor-tel">Tel</label>

                    <div class="col-sm-6">
                        <input type="text" class="input-sm form-control" id="th-tutor-tel" value="{{c.Tutor.Tel}}">
                    </div>
                </div>
            </form>
            <div class="text-left">
                <button id="pick-theory" class="btn-wide btn btn-lg btn-primary" onclick="pickTheory()">Choose</button>
            </div>

        </div>
        <div class="col-sm-2 text-center">
            <h1><a class="skip clickable" onclick="sendSkipConvention('{{c.Student.Email}}', true)" title="ignore this convention"><i class="glyphicon glyphicon-eye-close"></i></a></h1>
        </div>
        <div class="col-sm-5 text-right">
            <h5>Registered tutor(s)</h5>
            <div class="form-group text-left fn">
            <label for="known-tutor-selector"></label>
            <select id="known-tutor-selector">
                {{userSelecter users}}            
            </select>
            </div>
            <div class="text-right">
                <button id="btn-choose-known" class="btn-wide btn btn-lg text-center btn-success" onclick="pickKnown()">
                    Choose
                </button>
            </div>
        </div>
    </div> 
    {{else}}
        <h3 class="text-center">No convention left</h3>       
    {{/if}}
    {{#if Ignored}}
    <h5>Ignored conventions </h5>
    {{#each Ignored}}
    <a onclick="sendSkipConvention('{{Student.Email}}', false)" class="label">{{Student.Firstname}} {{Student.Lastname}} ({{Student.Email}})</a>
    {{/each}}
    {{/if}}
</div>