<h3>Permissions
    <small>
        <button onclick="showNewUser()" data-toggle='modal' class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> add user
        </button>
    </small>
</h3>
<div class="row">
{{#each this}}
<div class='col-md-6'>
    <div class='form-group'>
        <label for='lbl-{{Email}}' class='col-md-7 control-label'>
            <a data-user="{{Email}}" class="btn btn-xs btn-danger glyphicon glyphicon-remove" data-toggle="deluser-confirmation"> </a>
            <a class="fn" href="mailto:{{Email}}">{{fullname this}}</a>
        </label>
        <span class='col-md-3'>
            <select onchange="setUserRole('{{Email}}', parseInt($(this).val()))">
                {{roleOptions Role}}
            </select>                        
        </span>        
        <a data-toggle="reset-password-confirmation" data-user="{{Email}}" class="btn btn-info" title="re-invite ?">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>        
    </div>
</div>
{{/each}}
</div>