<h3>Tutors and administrators
    <small>
        <button onclick="showNewUser()" data-toggle='modal' class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> add user
        </button>
    </small>
</h3>
<div class="row">
{{#each Teachers}}
<div class='col-md-6'>
    <div class='form-group'>
        <label for='lbl-{{Email}}' class='col-md-7 control-label'>
            <a data-user="{{Email}}" class="btn btn-xs btn-danger glyphicon glyphicon-remove" data-toggle="delteacher-confirmation"> </a>
            <a class="fn" href="mailto:{{Email}}">{{fullname this}}</a>
        </label>
        <span class='col-md-3'>
            <select onchange="setUserRole('{{Email}}', parseInt($(this).val()))">
                {{roleOptions Role}}
            </select>                        
        </span>        
        <a data-toggle="teacher-reinvite" data-user="{{Email}}" class="btn btn-info btn-sm" title="re-invite ?">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>        
    </div>
</div>
{{/each}}
</div>
<h3>Students</h3>
<div class="row">
{{#each Students}}
<div class='col-md-3'>
    <div class="form-group">        
            <a data-user="{{Email}}" class="btn btn-xs btn-danger glyphicon glyphicon-remove" data-toggle="delstudent-confirmation"> </a>
            <a class="fn" href="mailto:{{Email}}">{{fullname this}}</a>            
            <a data-toggle="student-reinvite" data-user="{{Email}}" class="btn btn-info btn-xs" title="reset ?">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>                
    </div>
</div>
{{/each}}
</div>