<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{Kind}} Report</h3>
        </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="deadline" class="col-sm-3 control-label">Deadline</label>
                        <div class="col-sm-9">
                            {{#if In}}                        
                                <p class="form-control-static">{{date Deadline}}</p>
                            {{else}}
                                <input type="text" class="form-control date" id="deadline" value="{{date Deadline}}"/>
                            {{/if}}                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="down" class="col-sm-3 control-label">Report</label>                        
                        <div class="col-sm-9">
                            {{#if In}}                    
                                <a href="api/v1/internships/{{Email}}/reports/{{Kind}}/content">
                                <buttton type="button" class="btn btn-primary">                    
                                <i class="glyphicon glyphicon-cloud-download"></i> download                    
                                </button>
                                </a>                    
                            {{else}}
                            <p class="form-control-static"><i>not uploaded</i></p>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="delivery" class="col-sm-3 control-label">Delivery date</label>
                        <div class="col-sm-9">
                            {{#if In}}                            
                                <p class="form-control-static">{{datetime Delivery}} {{#if Passed}}<span class="alert-text">Deadline missed !</span>{{/if}}</p>
                            {{else}}
                                <p class="form-control-static"><i>n/a</i></p>
                            {{/if}}                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="private" class="col-sm-3 control-label">Confidential</label>
                        <div class="col-sm-9 form-control-static">
                            <input type="checkbox" class="form-control" id="private" {{#if Private}}checked{{/if}}/>
                            <small>(on supervisor request)</small>
                        </div>
                    </div>  
                    {{#if ToGrade}}                  
                        <div class="form-group">
                            <label for="grade" class="col-sm-2 control-label">Grade</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="grade" value="{{gradeInput this}}" {{#unless Gradeable}}disabled="disabled"{{/unless}} />                                
                            </div>
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <label for="comments" class="control-label col-sm-offset-1">Comment  <small><a href="/static/consignes-rapports.pdf">(expectations)</a></small></label>
                        <textarea id="comment" rows="9" class="col-sm-10 col-sm-offset-1">{{Comment}}</textarea>
                    </div>    
                    {{#if Reviewable}}
                        <div class="text-center form-group">
                            <button type="button" class="btn btn-success" onclick="gradeReport({{ToGrade}},'{{Email}}','{{Kind}}')">Grade</button>
                        </div>            
                    {{/if}}    
                    {{#if ToGrade}}
                        <div class="form-group">
                        <label for="notes" class="control-label col-sm-offset-1">Notation</label>                            
                        <small class="col-sm-offset-1">                            
                        <ul>
    <li><b>16 to 18: </b> Well written, crystal clear. It indicates the context, the problematic, the associated bibliography, the solution, the difficulties, the benefits and the planification. Everything is carefully justified.
    The note might vary according to the subject difficulties.
    </li>
    <li><b>13 to 15: </b>
    Well written, good explanations about the work done and the work to come but
    editorial issues, un-rigourous justications.
    </li>
    <li><b>10 to 12: </b>
    Readable but no enough details to really understand the work done. Lack of analysis. Some part are missings (bibliography, difficulties, planning, ...)    
    </li>
    <li><b>&lt; 10: </b>
    Hard to read/understand, severe lacks in terms of contents or analysis capacities</li>
                        </ul>
                        </small>    
                        </div>    
                    {{/if}}                
            </div>
            <div class="modal-footer"></div>
    </div>    
</div>