    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{Kind}} Report</h3>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="deadline" class="col-sm-2 control-label">Deadline</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control date" id="deadline" value="{{date Deadline}}" onchange="sendReportDeadline('{{Email}}','{{Kind}}',this)"/>
                            </div>
                        </div>
                        {{#if Reviewable}}                        
                        <div class="form-group">
                            <label for="grade" class="col-sm-2 control-label">Grade</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="grade" value="{{Grade}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment" class="control-label col-sm-offset-1">Comment</label>
                            <textarea id="comment" rows="10" class="col-sm-10 col-sm-offset-1">{{Comment}}</textarea>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="modal-footer">
                {{#if Reviewable}}                        
                        <div class="text-right form-group">
                            <button type="button" class="btn btn-success" onclick="gradeReport({{Email}},{{Kind}})">Grade</button>
                        </div>
                {{/if}}
                </div>
            </div>
    </div>