{{#if this}}
<button type="button" class="btn btn-primary" onclick="serviceMailing()"><i class="glyphicon glyphicon-envelope"></i> mail selection</button>
<button type="button" class="btn btn-success" href="#" onclick="showRawService()"><i class="glyphicon glyphicon-list"></i> copy to clipboard</button>
<br/>
<table class="table table-condensed table-hover tablesorter" id="service">
    <thead>
    <tr>
        <th><input type='checkbox' data-toggle='checkbox' class='icheckbox_flat check_all'/></th>
        <th>User</th>
        <th>Tutored students</th>
        <th>Defense committees</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
        <tr>
            <td>                
                <input type='checkbox' class="icheckbox_flat" data-toggle='checkbox' data-email='{{P.Email}}'/>                
            </td>
            <td class="text-left fn">
                <a href="mailto:{{P.Email}}">{{fullname P}}</a> ({{P.Tel}})
            </td>
            <td>
            {{#each Internships}}
                {{len this}}<small>x</small> {{@key}}{{#unless @last}}; {{/unless}}
            {{/each}}
            </td>
            <td>
                {{#if juries}}
                    {{len juries}}
                    <span class="small">
                    (
                        {{#each juriesMajor}}
                            {{this}}
                        {{/each}}
                        )
                    </span>
                {{else}}
                    -
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
    <h5 class="text-center">No tutors</h5>
{{/if}}