<form method="post" enctype="multipart/form-data" action="/api/v1/students/">            
    <input type="file" accept=".csv"/>                              
</form>
<h3>{{Placed}}/{{len Students}} placed students
        <button type="button" class="btn btn-sm" onclick="serviceMailing()"><i class="glyphicon glyphicon-envelope"></i> mail selection</button>

        <button type="button" id="student-fullnames" class="btn btn-sm" href="#"><i class="glyphicon glyphicon-list"></i> fullnames from selection</button>

</h3>
<div class="row">
{{#each Students}}
<div class='col-md-6'>
    <div class='form-group'>        
        <label for='lbl-{{Email}}' class='col-md-5 control-label'>
            <input type='checkbox' class='icheckbox_flat' data-email='{{Email}}'/>  
            <a class="fn" href="mailto:{{Email}}" title="{{fullname this}}">{{shortFullname this}}</a>
        </label>
        <span class='col-md-5'>
        	{{#if Internship}}
        		<a class="clickable fn" onclick="showInternship('{{Internship.Email}}')">{{shortFullname Internship}}</a>
        	{{else}}        	
            <select  id="select-{{@index}}">
            		<option value="">?</option>
            		{{#each ../../Interns}}
            		<option class="fn" value="{{Email}}">{{Firstname}} {{Lastname}}</option>
            		{{/each}}                	
           	</select>           	
        	{{/if}}
        </span>
        <span class='col-md-2'>
        <a class="btn btn-info btn-xs glyphicon glyphicon-ok"
        	title="align"
        	onclick="sendStudentAlignement('{{Email}}','select-{{@index}}')"
        	>
        </a> 
        <a class="btn btn-xs btn-danger glyphicon glyphicon-remove"
			onclick="sendStudentAlignement('{{Email}}','')"></a>       
        </span>

    </div>
</div>
{{/each}}
</div>