    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
            <h3 class="modal-title"><a href="mailto:{{I.Student.Email}}">{{fullname I.Student}}</a></h3>
    </div>    
        <div class="modal-body form-horizontal">
            <dl class="dl-horizontal">
                <dt>promotion</dt>
                <dd>{{I.Promotion}}</dd>
                <dt>major</dt>
                <dd>
                    <select class="select-major">
                        {{majorOptions I.Major}}
                    </select>
                </dd>                
                <dt>academic tutor</dt>
                <dd>
                    <select class="select-tutor">
                        {{userSelecter Tutors}}
                    </select>                    
                </dd>
            </dl>

            <h4 class="text-center">{{company I.Cpy}}</h4>
            <dl class="dl-horizontal">
                <dt>period</dt>
                <dd>{{date I.Begin}} to {{date I.End}}</dd>
                <dt>supervisor</dt>
                <dd>
                    <a href="mailto:{{I.Sup.Email}}">{{fullname I.Sup}}</a>
                    ({{I.Sup.Tel}})
                </dd>
            </dl>
        </div>
    </div>
    </div>