<div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
            <h3 class="modal-title fn"><a href="mailto:{{I.Student.Email}}">{{fullname I.Student}}</a></h3>
    </div>    
    <div class="modal-body form-horizontal">
            <dl class="dl-horizontal">
                <dt>tel</dt>
                <dd>{{I.Student.Tel}}</dd>
                <dt>promotion</dt>
                <dd>{{I.Promotion}}</dd>
                <dt>major</dt>
                <dd>
                    {{#if Major}}
                    <select class="select-major">
                        {{majorOptions I.Major}}
                    </select>
                    {{else}}
                    {{I.Major}}
                    {{/if}}
                </dd>                
                <dt>academic tutor</dt>                
                <dd class="fn">
                    {{#if Admin}}
                        <select class="select-tutor">{{userSelecter Tutors}}</select>                    
                    {{else}}
                    <a href="mailto:{{I.Tutor.Email}}">{{fullname I.Tutor}} ({{I.Tutor.Tel}})</a>
                    {{/if}}
                </dd>
            </dl>

            <h4 class="text-center">{{company I.Cpy}}</h4>
            <dl class="dl-horizontal">
                <dt>period</dt>
                <dd>{{date I.Begin}} to {{date I.End}}</dd>
                <dt>supervisor</dt>
                <dd>
                    <a class="fn" href="mailto:{{I.Sup.Email}}">{{fullname I.Sup}}</a>
                    ({{I.Sup.Tel}})
                </dd>                
            </dl>
            <h4 class="text-center">Links for the surveys</h4>
            <p>These links must be send to the supervisors to provide feedbacks</p>            
            <dl class="dl-horizontal">
                {{#each I.Surveys}}
                <dt>{{Kind}}</dt>
                <dd>{{../URL}}{{Kind}}?token={{Token}}</dd>
                {{/each}}
            </dl>

            <h4 class="text-center">Future position</h4>
            <dl class="dl-horizontal">        
                <dt>Next position</dt>
                <dd>{{nextPosition I.Future.Position}}</dd>
                <dt>Contact email</dt>
                <dd>{{nextContact I.Future.Contact}}</dd>
            </dl>
    </div>
    <div class="modal-footer"></div>
    </div>
</div>