{{#if this}}
<h3>{{len this}} internship(s)

<div class="btn-group">
  <button type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-envelope"></i> mail selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="mailing('students')">students</a></li>
    <li><a onclick="mailing('students','supervisors')">students (cc supervisors)</a></li>        
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-list"></i> fullnames from selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="showRawFullname('students')">Students</a></li>    
    <li><a onclick="showRawFullname('supervisors')">Supervisors</a></li>    
  </ul>
</div>
</h3>

<p>
This is the students you are following as an academic tutor. Your role is to:
<ul>
<li>Maintain contacts with the students and the supervisors. Use the checkboxes to select internships and the top buttons for mailing purposes.</li>
<li>Read, review and grade reports. Click on a report cell to get more details.</li>
<li>Send to the supervisors the survey links. Click on a student name to get them (the badges in the table are read-only versions).</li>
</ul>

<p>More informations about the internship is available by clicking on the student name.</p>
<br/>
<div class="legend">
<span class="title">Reports color legend: </span>
<ul class="legend">
<li><span class="color btn-warning"></span>Deadline passed, no report</li>
<li><span class="color btn-primary"></span>Waiting for being reviewed</li>
<li><span class="color btn-success"></span>Grade > 10</li>
<li><span class="color btn-danger"></span>Grade < 10</li>
</ul>
</div>
<div class="legend">
<span class="title">Survey color legend: </span>
<ul class="legend">
<li><span class="color badge-info"></span>Answers are missing</li>
<li><span class="color badge-danger"></span>Answers are missing, deadline passed</li>
<li><span class="color badge-success"></span>Answers available</li>
</ul>
</div>
<table class="table table-hover tablesorter" id="table-conventions">
    {{#each this}}
        {{#if @first}}
            <thead>
    <tr>
        <th class="sorter-false" rowspan="2">
        <input type='checkbox' data-toggle='checkbox' class='icheckbox_flat check_all'/>
        </th>
        <th rowspan="2">Student</th>
        <th rowspan="2">Promotion</th>
        <th rowspan="2">Major</th>
        <th rowspan="2" class="sorter-false">Supervisor</th>
        <th rowspan="2" class="sorter-false">Company</th>
        <th class="sorter-false text-center" colspan="{{len Reports}}">Reports</th>
        <th rowspan="2" class="sorter-false text-center">Surveys</th>
        <th rowspan="2" >Def</th>
    </tr>
    <tr>        
        {{#each Reports}}        
        <th>{{shortKind this}}</th>
        {{/each}}        
    </tr>
    </thead>
    <tbody>
    {{/if}}
        <tr>
            <td>
            <input type='checkbox' class='icheckbox_flat' data-email='{{Student.Email}}'/>  
            </td>
            <td>
            <a class='click fn' onclick="showInternship('{{Student.Email}}')">{{shortFullname Student}}</a>
            </td>
            <td>{{shortProm Promotion}}</td>
            <td>{{Major}}</td>
            <td>                
                <a class="fn" href='mailto:{{Sup.Email}}' title='{{fullname Sup}}'>{{shortFullname Sup}}</a>
            </td>
            <td>                
                {{company Cpy}}
            </td>            
            {{#each Reports}}
            <td class="{{reportStatus this}} text-center" data-text="{{this.Grade}}" onclick="showReport('{{../Student.Email}}', '{{Kind}}')">            
            {{reportGrade this}}
            </td>            
            {{/each}}
            <td>                      
            {{#each Surveys}}
            <a 
            href="/surveys/{{Kind}}?student={{../Student.Email}}&kind={{Kind}}" target='_blank' class="badge {{surveyStatus this}}">{{Kind}}</a>
            {{/each}}
            </td>
            <td>-</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<div class="form-group">
<label class="control-label col-sm-offset-1">Default deadlines</label>
<small class="col-sm-offset-1">                            
<ul>
    <li><b>Description of Work (DoW): </b> 3 weeks from the beginning. Nothing to grade</li>
    <li><b>Midterm report: </b> 2 months after. 3 weeks for reviewing</li>
    <li><b>Final report: </b> September, the 1th. 1 week for reviewing</li>
</ul>
</small>    
</div> 


{{else}}
    <h5 class="text-center">You are not tutoring any internships</h5>
{{/if}}