{{#if this}}
<div class="summary"></div>
<h3>{{len this}} internship(s)

<div class="btn-group">
  <button type="button" class="btn dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-envelope"></i> mail selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="mailing('students')">students</a></li>
    <li><a onclick="mailing('students','tutors')">students (cc tutors)</a></li>        
    <li><a onclick="mailing('supervisors')">supervisors</a></li>
    <li><a onclick="mailing('tutors')">tutors</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-list"></i> fullnames from selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="showRawFullname('students')">Students</a></li>    
    <li><a onclick="showRawFullname('supervisors')">Supervisors</a></li>
    <li><a onclick="showRawFullname('tutors')">Tutors</a></li>    
  </ul>
</div>

</h3>
<p>
As a major leader or an administrator, you can follow the progress of every student:
<ul>
<li>click a student name to get more details about the internship. If you known the student major, indicate it in this dialog,</li>
<li>click on a survey to get a read-only version once fullfiled,</li>
<li>click on a report cell to get details (content, comments).</li>
</ul>
</p>
<p>Use the checkboxes to select internships and the top buttons for mailing purposes.</p>
<br/>
<div class="legend">
<span class="title">Reports color legend: </span>
<ul class="legend">
<li><span class="color btn-warning"></span>Deadline passed, no report</li>
<li><span class="color btn-primary"></span>Waiting for being reviewed</li>
<li><span class="color btn-success"></span>grade > 10</li>
<li><span class="color btn-danger"></span>grade < 10</li>
</ul>
</div>
<table class="table table-condensed table-hover tablesorter" id="table-conventions">
    {{#each this}}
        {{#if @first}}
            <thead>
    <tr>
        <th class="sorter-false" rowspan="2">
        <input type='checkbox' data-toggle='checkbox' class='icheckbox_flat check_all'/>
        </th>
        <th rowspan="2">Student</th>
        <th rowspan="2">Promotion</th>
        <th rowspan="2">Major</th>
        <th rowspan="2" class="sorter-false">Supervisor</th>
        <th rowspan="2" >Tutor</th>
        <th class="sorter-false text-center" colspan="{{len Reports}}">Reports</th>
        <th class="sorter-false text-center" colspan="{{len Surveys}}">Surveys</th>
        <th rowspan="2" >Def</th>
    </tr>
    <tr>        
        {{#each Reports}}        
        <th>{{shortKind this}}</th>
        {{/each}}        
        {{#each Surveys}}        
        <th>{{shortKind this}}</th>
        {{/each}}        
    </tr>    
    </thead>
    <tbody>
    {{/if}}
        <tr>
            <td>
            <input type='checkbox' class='icheckbox_flat' data-email='{{Student.Email}}'/>  
            </td>
            <td>
            <a class='click fn' onclick="showInternship('{{Student.Email}}')">{{shortFullname Student}}</a>
            </td>
            <td>{{shortProm Promotion}}</td>
            <td>{{Major}}</td>
            <td>                
                <a class="fn" href='mailto:{{Sup.Email}}' title='{{fullname Sup}}'>{{shortFullname Sup}}</a>
            </td>
            <td>                
                <a class="fn" href='mailto:{{Tutor.Email}}' title='{{fullname Tutor}}'>{{shortFullname Tutor}}</a>
            </td>            
            {{#each Reports}}
            <td class="click {{reportStatus this}} text-center" data-text="{{gradeAnnotation this}}" onclick="showReport('{{../Student.Email}}', '{{Kind}}')">            
            {{reportGrade this}}
            </td>  
            {{/each}}            
            
            {{#each Surveys}}
            <td onclick="window.open('/surveys/{{Kind}}?student={{../Student.Email}}&kind={{Kind}}','_blank')" class="text-center click" data-text="{{surveyAnnotation this}}">{{surveyGrade this}}</td>
            {{/each}}

            {{#if Defense.Defenses}}            
            <td class="text-center" onclick="showDefense('{{Student.Email}}')" class="{{defenseStatus Defense}}">{{defenseGrade Defense}}</td>
            {{else}}
            <td class="text-center"><i>n/a</i></td>
            {{/if}}
        </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
    <h5 class="text-center">No internships to watch</h5>
{{/if}}