<div class="modal-dialog">
<div class="modal-content">
    <div class="modal-body">
        <button type="button" class="close" aria-hidden="true" onclick="hideModal()">×</button>
        <fieldset>
            <legend>
            {{> person I.Convention.Student.User.Person}}
            </legend>
    <div class="form-horizontal">
    <div class="form-group">
            <label class="col-lg-3 control-label">Last visit</label>
            <div class="col-lg-3">
                <label class="form-control-static">{{dateFmt I.Convention.Student.User.LastVisit "DD/MM/YY HH:mm"}}</label>
            </div>
    </div>
    {{#if Editable}}
        <div class="form-group">
            <label class="col-lg-3 control-label">Promotion</label>
            <div class="col-lg-3">
                <select class="form-control" id="promotion-selecter" onchange="updatePromotion('{{I.Convention.Student.User.Person.Email}}','{{I.Convention.Student.Promotion}}', this)">
                {{optionPromotions I.Convention.Student.Promotion}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">Major</label>
            <div class="col-lg-3">
                <select class="form-control" id="major-selecter" onchange="updateMajor('{{I.Convention.Student.User.Person.Email}}','{{I.Convention.Student.Major}}', this)">
                {{optionMajors I.Convention.Student.Major}}
                </select>
            </div>
        </div>
    {{else}}
     <div class="form-group">
        <label class="col-lg-3 control-label">Major/Promotion</label>
        <div class="col-lg-9">
         <label class="form-control-static">{{I.Convention.Student.Major}}/{{I.Convention.Student.Promotion}}</label>
        </div>
     </div>
    {{/if}}
    {{#unless Editable}}
		<div class="form-group">
			<label class="col-lg-3 control-label">Company</label>
                <div class="col-lg-9">
                	<label class="form-control-static">
                        <a href="{{I.Convention.Company.WWW}}">{{I.Convention.Company.Name}}</a>
                    </label>
                </div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Title</label>
            <div class="col-lg-9">
                <label class="form-control-static text-justify">{{I.Convention.Company.Title}}</label>
            </div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Period</label>
                <div class="col-lg-9">
                	<label class="form-control-static">
                	{{dateFmt I.Convention.Begin "ddd DD MMM YY"}}
                	-
                	{{dateFmt I.Convention.End "ddd DD MMM YY"}}
                	</label>
                </div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 control-label">Gratification</label>
                <div class="col-lg-9">
                	<label class="form-control-static">{{I.Convention.Gratification}} €</label>
                </div>
		</div>

        <div class="form-group" id="supervisor-group">
            <label class="col-lg-3 control-label">Supervisor</label>
                <div class="col-lg-9">
                    <label class="form-control-static fn">
                    {{> person I.Convention.Supervisor}}
                    </label>
                </div>
        </div>
        {{/unless}}
		<div class="form-group" id="tutor-group">
			<label class="col-lg-3 control-label">Academic tutor</label>
                <div class="col-lg-9">
                	<label class="form-control-static fn">
                    {{> person I.Convention.Tutor.Person}}
                    </label>
                </div>
		</div>
        {{#if Editable}}
        <div class="form-group">
        <label class="col-lg-3 control-label">Switch to</label>
            <div class="col-lg-9">
                <div class="input-group">
                <select class="fn form-control" id="tutor-selecter">
                    {{optionUsers Teachers I.Convention.Tutor}}
                </select>
                <span class="input-group-btn">
                <button type="button" class="btn btn-warning" data-placement='right' data-toggle="confirmation" data-on-confirm="switchTutor('{{I.Convention.Student.User.Person.Email}}', '{{I.Convention.Tutor.Person.Email}}')">
                    <i class="glyphicon glyphicon-random"></i>
                </button>
                </span>
                </div>
            </div>
        </div>
        {{/if}}

        {{#ifRole 4}}
        <div class="form-group">
        <label class="col-lg-3 control-label">Reset surveys</label>
        <div class="col-lg-9">
               {{#each I.Surveys}}
                    <button type="button" class="btn {{#if Delivery}}btn-danger{{else}}btn-default{{/if}} btn-sm" data-placement='bottom' data-toggle="confirmation" data-on-confirm="resetSurvey(this,'{{../I.Convention.Student.User.Person.Email}}','{{Kind}}')" {{#unless Delivery}}disabled title="not uploaded"{{/unless}}>
                        {{Kind}}
                    </button>
                {{/each}}
        </div>
        </div>

        <div class="form-group">
        <label class="col-lg-3 control-label">Request surveys</label>
        <div class="col-lg-9">
               {{#each I.Surveys}}
                    {{#if Delivery}}
                    <button type="button" class="btn btn-default btn-sm" disabled title="already uploaded">{{Kind}}</button>
                    {{else}}
                    <button type="button" class="btn btn-danger btn-sm" data-placement='bottom' data-toggle="confirmation" data-on-confirm="requestSurvey(this,'{{../I.Convention.Student.User.Person.Email}}','{{Kind}}')">
                        {{Kind}}
                        (<i class="glyphicon glyphicon-time"></i> {{daysSince LastInvitation}}  days.)
                    </button>
                    {{/if}}
                {{/each}}
        </div>
        </div>
        {{/ifRole}}
</div>
    </fieldset>
    <div class="text-right">
    <button type="button" class="btn btn-default" aria-hidden="true" onclick="hideModal()">Close</button></div>
        </div>
        </div>
        </div>