<div class="modal-dialog">
    <div class="modal-content">
            <div class="modal-body">
            <button type="button" class="close" aria-hidden="true" onclick="hideModal()">×</button>
            <fieldset>
                <legend>{{Kind}} Report</legend>
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-3 control-label">Confidential</div>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label for="private">
                                    <input onchange="toggleReportConfidential('{{Kind}}','{{Email}}',this)" type="checkbox" id="private" {{#if Private}}checked{{/if}}>
                                    <i>(access limited to the tutor and root)</i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="deadline" class="col-sm-3 control-label">Deadline</label>
                        <div class="col-sm-9">
                            <div class="input-group date" id="deadline">
                                <input id="report-deadline" type="text" data-old-date="{{Deadline}}" class="form-control" data-date-format="D MMM YYYY"  />
                                <span class="input-group-btn">
                                    <button onclick="updateReportDeadline('{{Email}}','{{Kind}}');" class="btn btn-info" type="button"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="down" class="col-sm-3 control-label">Document</label>
                        <div class="col-sm-9">
                            <label class="form-control-static">
                            {{#if Delivery}}
                            <a href="api/v2/reports/{{Email}}/{{Kind}}/content">
                                <i class="glyphicon glyphicon-cloud-download"></i> download
                            </a>
                            {{else}}
                            n/a
                            {{/if}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="delivery" class="col-sm-3 control-label">Delivery date</label>
                        <div class="col-sm-9">
                            <label class="form-control-static">
                            {{#if Delivery}}
                                {{dateFmt Delivery "D MMM YYYY HH:mm"}}
                            {{else}}
                                n/a
                            {{/if}}
                            {{#ifAfter Delivery Deadline}}<span class="text-danger">Deadline missed !</span>{{/ifAfter}}
                            </label>
                        </div>
                    </div>

                    {{#ifLate Deadline}}
                    {{#if ToGrade}}
                        <div class="form-group">
                            <label for="grade" class="col-sm-2 control-label">Grade</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="grade" {{#if Reviewed}}value="{{Grade}}"{{/if}} {{#ifManage this}}{{else}}disabled="disabled"{{/ifManage}}/>
                            </div>
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <label for="comments" class="control-label col-sm-offset-1">Comment <small><a href="/assets/consignes-rapports.pdf">(expectations)</a></small></label>
                        <textarea placeholder="insert review here..." id="comment" rows="9" class="col-sm-10 col-sm-offset-1" {{#ifManage this}}{{else}}readonly{{/ifManage}}>{{Comment}}</textarea>
                    </div>
                    {{/ifLate}}
                    {{#ifLate Deadline}}
                    {{#if ToGrade}}
                    <div>
                        <b>Notation</b>
                        <small class="col-sm-offset-1">
                        <ul>
    <li><b>16 to 18: </b> Well written, crystal clear. It indicates the context, the problematic, the associated bibliography, the solution, the difficulties, the benefits and the planification. Everything is carefully justified.
    The note might vary according to the subject difficulties.
    </li>
    <li><b>13 to 15: </b>
    Well written, good explanations about the work done and the work to come but
    editorial issues, un-rigourous justications.
    </li>
    <li><b>10 to 12: </b>
    Readable but no enough details to really understand the work done. Lack of analysis. Some part are missings (bibliography, difficulties, planning, ...)
    </li>
    <li><b>&lt; 10: </b>
    Hard to read/understand, severe lacks in terms of contents or analysis capacities</li>
                        </ul>
                        <b class="text-center">Do not consider any late penalty. This is done automatically</b>
                        </small>
                    </div>
                    {{/if}}
                    {{/ifLate}}

                                        <div class="text-right form-group">
                        <button type="button" class="btn btn-default" onclick="hideModal();">Cancel</button>
                        {{#ifLate Deadline}}
                        <button type="button" class="btn btn-danger" onclick="review('{{Email}}','{{Kind}}',{{ToGrade}})">
                            <i class="glyphicon glyphicon-floppy-save"></i>
                            Review
                        </button>
                        {{/ifLate}}

                    </div>

                    </div>
            </div>
        </fieldset>
    </div>
</div>